
.blog-content {
    padding: 5em;
    display: flex;
}

.blog-main {
    width: 65%;
    padding: 1.5em;
}

.blog-sidebar {
    width: 35%;
    padding: 1.5em;

}

.blog {
    background-color: #1F2937;
    border: 1px solid #E5E7EB;
    border-radius: 1em;
    overflow: hidden;
    color: #F9FAF8;
    margin-bottom: 5em;
}

.blog-img {
    overflow: hidden;
    width: 100%;
    cursor: pointer;
}

.blog-img img {
    width: 100%;
}

.blog-img img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.blog-msg {
    padding: 2em 2em;
}

.blog-msg p {
    margin-top: 1em;
    text-align: justify;
}

.blog h2 {
    text-align: justify;
    cursor: pointer;
}

.blog-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
}

.author {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.blog-footer .author img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    overflow: hidden;
}

.blog:hover h2,
.author:hover,
.blog-date i {
    color: #3882F6;
    transition: 1s;
}

.pagination {
    display: flex;
    gap: 5px;
    color: #1F2937;
}

.pagination-page {
    height: 36px;
    width: 36px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.pagination .active,
.pagination-page:hover {
    background-color: #3882F6;
    transition: 1s;
}

.blog-sidebar {
    padding: 3.5em;
}

.blog-sidebar h2 {
    color: #1F2937;
    margin-bottom: 1em;
}

.search,
.archives,
.about,
.recent {
    margin-bottom: 4em;
    font-weight: bold;
}

.blog-sidebar .archives ul {
    padding-left: 5em;
}

.blog-sidebar .archives ul li {
    color: #1F2937;
    cursor: pointer;
    padding: 0.25em 0;
}

.blog-sidebar .archives ul li:hover {
    color: #3882F6;
    background-color: #E5E7EB;
}

.blog-sidebar .about p {
    color: #1F2937;
    text-align: justify;
}

.blog-sidebar .post {
    display: flex;
    align-items: stretch;
    gap: 15px;
    align-items: flex-start;
    margin-bottom: 2em;
    color: #1F2937;
}

.blog-sidebar .post .post-img {
    height: 50px;
    width: 100px;
    border-radius: 0.5em;
    overflow: hidden;
}

.blog-sidebar .post .post-img img {
    height: 100%;
}

.blog-sidebar .post h3 {
    text-align: justify;
    margin-bottom: 0.25em;
}

.blog-sidebar .post:hover{
    color: #3882F6;
    background-color: #E5E7EB;
    cursor: pointer;
}

.blog-sidebar .tags .tag-list {
    display: flex;
    flex-wrap: wrap;
}

.blog-sidebar .tags .tag {
    color: #E5E7EB;
    background-color: #1F2937;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 0.5em;
    cursor: pointer;

}

.blog-sidebar .tags .tag:hover {
    background-color: #3882F6;
    transition: 1s;
}


@media screen and (max-width:992px) {
    .blog-content {
        flex-direction: column;
        padding: 1em;
    }

    .blog-sidebar,
    .blog-main {
        width: 100%;
    }
}

.search-bar {
    flex: 1;
    display: flex;
    align-items: center;
    height: 3em;
    width: 75%;
    margin: auto;
}

.search-bar input {
    outline: none;
    padding: 0 1em;
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: #19211e;
    color: #E5E7EB;
    border: 2px solid #474d4b;
    border-top-left-radius: 5em;
    border-bottom-left-radius: 5em;
}

.search-bar button {
    background-color: #3882F6;
    border: 2px solid #474d4b;

    color: #E5E7EB;
    border: none;
    padding: 0 1.5em 0 1em;
    height: 100%;
    border-top-right-radius: 5em;
    border-bottom-right-radius: 5em;
}

@media screen and (max-width:668px) {
    .blog-sidebar {
        display: none;
    }

    .pagination {
        justify-content: center;
    }
}