.contact-main-content {

    background-color: #030303;
    display: flex;
    padding: 3em 5em;
    width: 90%;
    margin: 3em auto;
}

.contact-main {
    width: 50%;
    padding: 1.5em;
    /* display: flex; */
    text-align: center;
    margin-right: auto;
}

.input-container {
    width: 100%;
    height: 40px;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: #19211E;
    border-radius: 10px;
    border-color: #3E4140;
    padding: 10px;
    color: white;
    font-size: 18px;
}

.textarea-container {
    width: 100%;
    height: 150px;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: #19211E;
    border-radius: 10px;
    border-color: #3E4140;
    padding: 10px;
    resize: none;
    color: white;
    font-size: 18px;
}

.button-style {
    background-color: #3882F6;
    color: white;
    border: solid 1px;
    border-color: white;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Roboto', 'sans-serif';
}

.contact-sidebar {
    padding: 1.5em;
    width: 45%;
}

.container-right {
    border: solid 1px;
    margin: 10px;
    border-radius: 20px;
    background-color: #19211E;
    padding: 10px;
}

.contact-container {
    padding: 20px;
}

.contact-title {
    color: white;
    font-size: 24px;
}

.contact-text {
    color: white;
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 16px;
}

.contact-hero {
    height: 50vh;
    background-color: #1F2937;
    position: relative;
    overflow: hidden;
}

.contact-hero img {
    position: absolute;
    width: 100%;
    opacity: 0.6;
    z-index: 2;
    filter: sepia(2);
}

.title {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 3;
    position: relative;
}

.title h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}
.title h3{
    font-size: 18px;
    color: #E5E7EB;
}

@media screen and (max-width:992px){
    .contact-main-content{
        flex-direction: column;
        padding: 1em;
    }
    .contact-sidebar, .contact-main{
        width: 100%;
        text-align: center;
    }
    .contact-hero img {
        height: 100%;
    }
}