.index-main-content {
    font-family: 'Roboto', sans-serif;

    .center-75 {
        width: 75%;
        margin: auto;
    }

    .main-title {
        font-size: 36px;
        color: #1F2937;
        padding: 2% 0;
        letter-spacing: 0;
        text-align: center;
    }

    .main-title-style {
        font-weight: 900;
    }

    .main-title-style span {
        font-weight: 100;
    }

    .music-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2%;
        max-width: 100%;
    }

    .music-container {
        padding: 0% 2%;
        max-width: 250px;
        text-align: center;
    }

    .music-image-solid {
        transition: transform 0.5s ease-in-out;
        height: 140px;
        width: 100%;
        max-width: 100%;
        border-radius: 15px;
        border: 3px solid #3882F6;
    }

    .music-content {
        max-width: 120px;
        margin: auto;
        padding-top: 5px;
    }

    .music-image-solid:hover {
        transform: scale(1.1);
    }

    .quote {
        border: none;
        text-align: center;
        padding: 2%;
        background-color: #E5E7EB;
    }

    .quote-child {
        display: flex;
        flex-direction: column;
        width: 45%;
        margin: auto;
        padding: 40px 0px;
    }

    .quote-content {
        text-align: left;
        font-size: 36px;
        color: #1F2937;
        font-weight: 300;
        font-style: italic;
        line-height: 1.4;
        letter-spacing: 0px;
    }

    .quote-cite {
        text-align: right;
        font-weight: bold;
    }

    .sign-up-section {
        padding: 2% 0%;
    }

    .sign-up-container {
        background-color: #3882F6;
        padding: 30px 0px;
        border-radius: 5px;
    }

    .sign-up-flex-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .sign-up-button {
        background-color: #3882F6;
        color: white;
        font-size: 11px;
        border: 1px solid white;
        border-radius: 6px;
        padding: 5px 20px;
        margin: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .sign-up-button:hover {
        background-color: #5090f7;
    }

    .sign-up-title {
        color: white;
        letter-spacing: 0px;
        font-size: 20px;
    }

    .sign-up-content {
        color: white;
        letter-spacing: 0px;
        font-size: 15px;
        margin-right: 50px;
    }

    @media (max-width:998px) {
        .sign-up-button {
            width: 80px;
            margin: auto;
        }

        .sign-up-right-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 5px;
        }

        .hero {
            flex-direction: column;
            padding: 8em 5em;

        }

        .hero aside,
        .hero picture {
            width: 100%;
            padding: 0;
            margin-bottom: 5em;

        }
    }

    @media (max-width: 600px) {
        >h3.title-style {
            font-size: 28px;
        }

        .music-container {
            max-width: 128px;
        }

        .music-image-solid {
            height: 62px;
            width: auto;
        }

        .music-content {
            font-size: 12px;
        }

        .quote-child {
            width: 80%;
        }

        .quote-content {
            font-size: 16px;
        }

        .quote-cite {
            font-size: 10px;
            font-weight: bold;
        }

        .sign-up-container {
            flex-direction: column;
            padding: 18px 0px;
        }

        .sign-up-title {
            text-align: center;
            font-size: 16px;
        }

        .sign-up-content {
            margin-right: auto;
            text-align: center;
            font-size: 12px;
        }

        .sign-up-left-container {
            padding-right: 5px;
        }

        .sign-up-right-container {
            padding-left: 5px;
        }


        .sign-up-button {
            width: 80px;
            margin: auto;
        }

    }

    @media (max-width: 492px) {
        >h3.title-style {
            font-size: 22px;
        }

        .music-section {
            max-width: 256px;
            margin: auto;
        }

        .quote-child {
            width: 80%;
        }

        .sign-up-content {
            display: none;
        }

    }
}

.hero {
    background-color: #1F2937;
    padding: 8em 10em;
    display: flex;
    color: #F9FAF8
}

.hero aside {
    width: 50%;
    padding-right: 1em;
}

.hero picture {
    width: 50%;
    padding-left: 1em;
}

.hero picture img {
    width: 100%;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0.25em;
}

.hero p {
    font-size: 18px;
    columns: #E5E7EB;
    margin-bottom: 0.25em;
}

.hero button {
    background-color: #3882F6;
    color: #E5E7EB;
    margin-top: 15px;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
}