
html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
    /* overflow: hidden; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    margin: auto;
    padding: 2.5em 10em;
    background-color: #1f2937;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav picture {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 5px;
}

nav picture img {
    width: 10%;
}

nav ul {
    flex: 3;
    text-align: right;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}


nav li {
    position: relative;
    padding: 5px 10px;
}

nav h1:hover,
nav li a:hover,
nav li:hover {
    color: #3882F6;
    cursor: pointer;
}

nav a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

a.active {
    color: #3882F6;
}

nav>ul {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

nav>ul li {
    align-self: flex-end;
}


nav h1 {
    flex: 1;
    font-size: 24px;
    color: #F9FAF8;
}

.menu-icon {
    padding: 1em 1.5em;
    background-color: #3882F6;
    border-radius: 2em;
    display: none;
    cursor: pointer;
}

.hidden-menu {
    width: 100%;
    background-color: #03030350;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateY(-100vh);
    transition: 1s all;
}

.hidden-menu li {
    padding: 1em 0;
}

.hidden-menu li:hover {
    background-color: #03030350;
}




.icons {
    filter: invert();
}

nav figure {
    display: flex;
    gap: 5px;
}

.dropdown {
    position: absolute;
    background-color: #333836;
    left: 0%;
    top: 100%;
    display: none;
    z-index: 5;
}

.dropdown li {
    width: 100%;
    padding: 15px 15px;
}
.dropdown li:hover{
    background-color: #03030350;
}

nav li:hover .dropdown {
    display: block;
}

main{
    background-image: url('./assets/images/signin-image-1.jpg');
    background-size: 100% auto;
    background-attachment: fixed;
    color: #333836;
    flex-grow: 1;
}

@media screen and (max-width: 1024px) {
    nav {
        padding: 2.5em 8em;
        justify-content: space-between;
    }

    nav ul,
    nav>.search-bar {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    nav a {
        font-size: 14px;
    }

    .menu-icon:hover .hidden-menu {
        transform: translateY(5em);
    }

}

@media screen and (max-width: 680px) {
    nav {
        padding: 1.5em;
        width: 100%;
        flex-direction: column;
        text-align: center;
        gap: 0.5em;
    }

    .menu-icon:hover .hidden-menu {
        transform: translateY(6em);
    }

}

/* footer */
footer {
    width: 100%;
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 20px;
}
