html {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

nav {
    margin: auto;
    padding: 1em 5em;
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    gap: 3em;
    align-items: center;
    position: sticky;
    top: 0;

}

nav li {
    list-style: none;
}

nav a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

a.active{
    color: #ff4c4c;
}

nav:first-child li:last-child {
    text-align: right;
    flex-grow: 6;
}

.sticky-nav {
    background-color: #030303;
    margin: auto;
    padding: 2.5em 5em;
    position: sticky;
    top: 0;
    z-index: 4;


}

nav ul {
    display: flex;
}

nav h1 {
    flex: 1;
    font-size: 24px;
    color: #F9FAF8;
}

nav ul {
    flex: 2;
    justify-content: space-evenly;
}

.search-bar {
    flex: 1;
    display: flex;
    align-items: center;
    height: 3em;
}

.search-bar input {
    outline: none;
    padding: 0 1em;
    height: 100%;
    background-color: #19211e;
    color: #E5E7EB;
    border: 2px solid #474d4b;
    border-top-left-radius: 5em;
    border-bottom-left-radius: 5em;
}

.search-bar button {
    background-color: #ff4c4c;
    border: 2px solid #474d4b;

    color: #E5E7EB;
    border: none;
    padding: 0 1em;
    height: 100%;
    border-top-right-radius: 5em;
    border-bottom-right-radius: 5em;
}



.menu-icon {
    padding: 1em;
    background-color: #ff4c4c;
    border-radius: 2em;
    display: none;
    cursor: pointer;
}

.hidden-menu{
    width: 100%;
    background-color: #03030350;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateY(-100vh);
    transition: 1s all;
}
.hidden-menu li{
    padding: 1.5em 0;
}

.hidden-menu li:hover{
    background-color: #333836;
}

.menu-icon:hover .hidden-menu{
    transform: translateY(18vh);
}
.hidden-menu .search-bar{
    
}

@media screen and (max-width: 1160px) {
    .sticky-nav {
        padding: 2.5em 20vw;

    }

    nav ul,
    nav>.search-bar {
        display: none;
    }

    .menu-icon {
        display: block;
    }
    
}

@media screen and (max-width: 991px) {
    nav li:first-child {
        display: none;
    }

   

}

@media screen and (max-width: 680px) {
    nav:first-child {
        width: 100%;
        flex-direction: column;
        text-align: center;
        gap: 1em;
    }
    
}
@media screen and (max-width: 500px) {
    

    nav li {
        padding: 0;
    }

    nav:first-child li:last-child {
        width: 100%;
        text-align: center;
    }

}

/* footer */
footer{
    padding: 2em 0;
    text-align: center;
    background-color: #1f2937;
    color: #F9FAF8;
}